<header>
    <nav>
        <a href="/">My libery</a>
        <ul>
            <li><a href="/authors">Authors</li>
            <li><a href="/authors/new">Add authors</li>
        </ul>
    </nav>
</header>